@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Nunito+Sans&display=swap");

:root {
	--clr-primary: hsl(0, 0%, 100%);
	--clr-secondary: hsl(0, 76%, 72%);

	--ff-title: "Cinzel", serif;
	--ff-text: "Nunito Sans", sans-serif;

	--fs-small: 2rem;

	--ls: 1.1px;
	--bg-clr: hsl(204, 80%, 20%);
}

@media (min-width: 768px) {
	:root {
		--fs-small: 2.5rem;
	}
}

@media (min-width: 1024px) {
	:root {
		--fs-small: 3rem;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	text-align: center;
	background-color: var(--bg-clr);
	color: var(--clr-primary);
}

.question__count {
	margin-top: 4rem;
}

.question__count__question {
	margin-top: 5rem;
	font-size: var(--fs-small);
	font-family: var(--ff-title);
	line-height: 1.7;
	letter-spacing: var(--ls);
}

.question__count__title {
	font-size: calc(var(--fs-small) + 1rem);
	font-family: var(--ff-title);
}

.question__count__numbers {
	font-size: var(--fs-small);
	font-family: var(--ff-title);
}

.wrapper {
	display: flex;
	min-height: calc(100vh - 10rem);
}

.container {
	margin: auto;
	width: min(95%, 70rem);
}

.container__answers {
	margin-bottom: 4em;
	width: min(100%, 70rem);
	border: 2px solid var(--clr-primary);
	border-radius: 5px;
	cursor: pointer;
	font-family: var(--ff-text);
	align-items: center;
}

.container__answer {
	text-align: center;
	font-size: var(--fs-small);
	letter-spacing: var(--ls);
	padding: 2.2rem 1.5em;
}
.modal {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: min(90%, 700px);
	padding: 4rem;
	box-shadow: 5px 5px 17px -4px #000000;
	background-color: var(--clr-primary);
	color: hsl(204, 80%, 40%);
}

.modal__box > a {
	text-decoration: none;
	font-family: var(--ff-text);
	font-size: var(--fs-small);
	color: var(--clr-secondary);
	transition: color 0.2s ease;
}

.modal__box > a:hover {
	--clr-secondary: hsl(0, 76%, 50%);
	color: var(--clr-secondary);
}

.modal__box__score {
	font-family: var(--ff-text);
}

.modal__box__score-counter {
	font-size: calc(var(--fs-small) + 1rem);
}

#modal__box__scores-result {
	font-size: var(--fs-small);
	margin: 1.5rem 0;
}

.correct {
	border: 8px solid;
	border-image-slice: 1;
	border-width: 5px;
	border-image-source: linear-gradient(to left, #006e2ec9, #7cbd32);
}
.incorrect {
	border: 8px solid;
	border-image-slice: 1;
	border-width: 5px;
	border-image-source: linear-gradient(to left, #970202c9, #f04646);
}
